/* makes unvisited link yellow witih no underline */
a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

/* makes visited link purple with no underline */
a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

/* when mousing over a link, the background will be green and underlined */
a:hover {
  background-color: green;
  text-decoration: underline;
}

/* makes an active link orange and underlined */
a:active {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

.nav navbar-nav ml-auto {
  float: right;
}
